<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  style
    include index.css
    include mediaQuery.css
</head>
<div id="containor">
  <nav id="Navbar">
    <ul id="Lists">
      <li class="items" id="list1"><a href="/">Home</a></li>
      <li class="items" id="list2"><a href="/course">Courses</a></li>
      <li class="items" id="list3"><a href="/Contact">Contact</a></li>
      <li class="items" id="list4"><a href="/Teachers">Subscription</a></li>
    </ul>
  </nav>
  <div id="containor2">
    <section class="sectionstlye" id="section1">| 
      <h3>We Are Providing Best Courses</h3>
      <hr>
      <div class="subjectbox" id="mathsbox">
        <video src="../static/science_-_5373 (540p).mp4" height="200px" width="200px" autoplay loop></video>
      </div>
      <div class="subjectbox" id="sciencebox">
        <video src="../static/dna_-_6973 (720p).mp4" height="200px" width="700px" autoplay loop ></video>
      </div>
    </section>
    <section class="sectionstlye" id="section3"></section>
    <section class="sectionstlye" id="section4"></section>
  </div>
</div>