doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Index
  style
    include index.css
    include mediaQuery.css
#containor
  nav#Navbar
    ul#Lists
      li#list1.items
        a(href='/') Home
      li#list2.items
        a(href='/course') Courses
      li#list3.items
        a(href='/Contact') Contact
      li#list4.items
        a(href='/Teachers') Subscription
 
      
        
