<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  style
    include index.css
    include mediaQuery.css
</head>
<div id="containor">
  <nav id="Navbar">
    <ul id="Lists">
      <li class="items" id="list1"><a href="/">Home</a></li>
      <li class="items" id="list2"><a href="/course">Courses</a></li>
      <li class="items" id="list3"><a href="/Contact">Contact</a></li>
      <li class="items" id="list4"><a href="/Teachers">Subscription</a></li>
    </ul>
  </nav>
  <div style="color: firebrick; position: relative;top:200px;">your form successfully submitted</div>